
/*
.tabs {
  margin: 20px 0;
}

.tabs button {
  margin-right: 10px;
}

.tabs button.active {
  font-weight: bold;
  color: blue;
}

table {
  width: 100%;
  border-collapse: collapse;
}

th, td {
  padding: 10px;
  border: 1px solid #ccc;
  text-align: left;
}

ul {
  list-style-type: none;
  padding: 0;
}/*

/*Start is here*/